<div >

  <mat-toolbar class=" flex justify-between   p-2 h-8 bg-[#3366ff]"> 
    <p class="bg-[#3366ff]">
      Audit Trail
     </p> 
    <mat-icon mat-dialog-close fontIcon=""  >close</mat-icon> 
</mat-toolbar> 
</div>
<div class=" h-[400px] w-auto max-w-[600px]  drop-shadow-2xl py-5">
  
  <div class="max-h-[237px] h-fit  overflow-auto">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <!-- <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox> -->
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-radio-button 
                           
                            
                            >
              </mat-radio-button>
            </td>
          </ng-container>
  
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="p-[2mm]"> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

           <ng-container matColumnDef="entry_by_user_id">
            <th mat-header-cell *matHeaderCellDef class="p-[2mm]">Entry_by_user_id</th>
            <td mat-cell *matCellDef="let element">{{element.entry_by_user_id}}</td>
          </ng-container> 
  
          <!-- Name Column -->
          <ng-container matColumnDef="entry_type">
            <th mat-header-cell *matHeaderCellDef style="padding: 2mm;"> Entry_type </th>
            <td mat-cell *matCellDef="let element"> {{element.entry_type}} </td>
          </ng-container>
          <ng-container matColumnDef="entry_datetime" style="padding: 2mm;">
            <th mat-header-cell *matHeaderCellDef> Entry_datetime </th>
            <td mat-cell *matCellDef="let element"> {{element.entry_datetime}} </td>
          </ng-container>
  
      
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              >
          </tr>
  
          <!-- Filter -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">No results found !</td>
        </tr>
        </table>
  </div>
    <div class="">
      <mat-paginator
        
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
       
      >
      </mat-paginator>
    </div>
  
    <div class="flex justify-between items-center bg-white px-3 ">
      <div>
      <mat-form-field class="example-full-width custom-input-field input-field2" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="eg:Neon">
  
      </mat-form-field>
    </div>
  
  
  <div>
    <span  class="underline text-blue-700">Export</span>
  </div>
  </div>
  </div>
