
<mat-tab-group class=""  mat-stretch-tabs="true" mat-align-tabs="start">
    <div class="w-full">
      <mat-tab  class="active">
        <ng-template mat-tab-label
          >Add edit categories with Drag and drop</ng-template
        >
        hjdvsvgj</mat-tab
      >
      <mat-tab>
        <ng-template mat-tab-label
          >Add edit categories with checkboxes <br />(With Parent
          Selection)</ng-template
        >
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Tree view guidelines </ng-template>
        Tree view guidelines
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label
          >Add edit categories with radiobutton <br />(Without Parent
          Selection)</ng-template
        >

        Content1</mat-tab
      >
      <mat-tab>
        <ng-template mat-tab-label
          >Tree view with checkbox selection <br />(With Parent
          Selection)</ng-template
        >

        Content1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label
          >Tree view with radiobutton selection <br />(Without Parent
          Selection)</ng-template
        >
        Content1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label
          >Reassinging category with radio button <br />(Hide/Unhide
          Concept)</ng-template
        >

        Content1</mat-tab
      >
      <mat-tab>
        <ng-template mat-tab-label
          >Reassinging category with checkbox button <br />(Hide/Unhide
          Concept)</ng-template
        >
        Content1
      </mat-tab>
    </div>
  </mat-tab-group>



  <mat-tab-group>
    <mat-tab label="tab1" style="background-color: blue;opacity: inherit;" class="active">tab1</mat-tab>
    <mat-tab label="tab2">tab2</mat-tab>
    <mat-tab label="tab3">tab3</mat-tab>
    <mat-tab label="tab4">tab4</mat-tab>
    <mat-tab label="tab5">tab5</mat-tab>
    <mat-tab label="tab6">tab6</mat-tab>
    <mat-tab label="tab7">tab7</mat-tab>
</mat-tab-group>