<mat-tab-group class="" mat-stretch-tabs="true" mat-align-tabs="start">
  <div>
    <mat-tab class="active">
      <ng-template mat-tab-label>
        Add edit categories with Drag and drop
        </ng-template>
     
      <div><app-drag-and-drop></app-drag-and-drop></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Add edit categories with checkboxes <br/>
        (With Parent Selection)
      </ng-template>
      
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Tree view guidelines </ng-template>
      Tree view guidelines
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label
        >Add edit categories with radiobutton <br />(Without Parent
        Selection)</ng-template
      >

      <app-radio-without-parent></app-radio-without-parent
    ></mat-tab>
    <mat-tab>
      <ng-template mat-tab-label
        >Tree view with checkbox selection <br />(With Parent
        Selection)</ng-template
      >

      Content1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label
        >Tree view with radiobutton selection <br />(Without Parent
        Selection)</ng-template
      >
      Content1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label
        >Reassinging category with radio button <br />(Hide/Unhide
        Concept)</ng-template
      >

      Content1</mat-tab
    >
    <mat-tab>
      <ng-template mat-tab-label
        >Reassinging category with checkbox button <br />(Hide/Unhide
        Concept)</ng-template
      >
      Content1
    </mat-tab>
  </div>
</mat-tab-group>
