<div class="flex gap-3 mt-3">
    <div class="flex items-center">
        <p>Video Thumb Nail</p>
    </div>
    <div class="flex justify-center items-center text-center  w-[150px] h-[80px] bg-gray-200 ">
        <p class="font-bold text-zinc-300 ">Pick thumbnail by clicking on the video timeline</p>
    </div>
    <div class="flex flex-col  my-auto ">
        <div class="text-xs text-red-400 ">
            <p>Before Picking the thumbnail, first upload the video</p>
        </div>
        <div class="text-xs font-light ">
            <p>Pick Thumb Nail Screen Shot by clicking on the below Video Timeline in "Pause" mode.
            </p>
        </div>
    </div>

</div>

<div class="flex justify-center py-9">
    <div class="w-[500px] h-[300px] bg-gray-300 border-[5px] border-gray-400">
        
    </div>
</div>